.FileBox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 154px;
  width: 189px;
  border-radius: 3px;
  text-decoration: none;
  color: #000;

  & .FileImage {
    height: 106px;
    width: 189px;
    border-radius: 3px 3px 0 0;
  }

  & .InfoSection {
    display: flex;
    flex-direction: column;
    padding: 6px 15px;
    width: calc(100% - 30px);

    & .Top {
      display: flex;
      justify-content: space-between;
      color: var(--grey-button-color);
      font-size: 10px;
      margin-bottom: 6px;
      font-size: 14px;

      & .Likes {
        display: flex;
        align-items: center;

        & .Heart {
          height: 12px;
          margin-right: 3px;
          z-index: 1000;
        }
      }

      & .Downloads {
      }
    }

    & .FileName {
      font-size: 14px;
      width: fit-content;
    }
  }
}

.Link {
  text-decoration: none;
  color: currentColor;
}
