.FileBox {
  background-color: #fff;
  height: 219px;
  width: 189px;

  & .FileImage {
    height: 106px;
    width: 189px;
  }

  & .InfoSection {
    display: flex;
    flex-direction: column;
    padding: 6px 15px;

    & .Top {
      display: flex;
      justify-content: space-between;
      color: var(--grey-button-color);
      font-size: 10px;
      margin-bottom: 6px;

      & .Likes {
        display: flex;
        & .Heart {
          width: 7px;
          margin-right: 3px;
        }
      }
    }

    & .FileName {
      font-size: 14px;
    }
  }
}
