.Cell {
  align-items: center;
  display: flex;
  flex-direction: column;
  // margin: 10px;
}

.ItemTitle {
  box-sizing: border-box;
  font-size: 14pt;
  font-weight: 600;
  padding: 5px;
  width: 100%;
}

.MainImage {
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 200px;

  // margin:5px;
}

.PurchaseControls {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;

  & button {
    width: 100px;
  }
}
