.Background {
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: calc(596px - 30px);
  justify-content: center;
  padding: 30px;
  position: relative;
  width: 740px;
}

.BackButton {
  position: absolute;
  top: 21px;
  left: 21px;
}

.Icon {
  width: 13px;
  height: 11px;
  fill: var(--grey-button-color);
}

.Layout {
  height: calc(596px - 30px);
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // I need the actual values here
}

.UserInfo {
  display: grid;
  gap: 27px;
  grid-template-columns: 103px 395px;
  width: 100%;
}
