.Background {
  background-color: var(--bg);
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 596px;
  justify-content: center;
  padding: 43px;
  position:relative;
  width: 740px;
}

.BackButton {
  position:absolute;
  top:21px;
  left:21px;
}

.Icon {
  width:13px;
  height:11px;
  fill:var(--grey-button-color);
}

.Layout {
  height: 596px;
  display: grid;
  gap: 0 38px;
  grid-template-columns: 348px 265px;
  // I need the actual values here
}

