.Background {
  background-color: var(--bg);
  background-color: #e1e1e1;
  border-radius: 5px;
  display: flex;
  height: 600px;
  justify-content: center;
  padding: 30px;
  width: 740px;
}

.Layout {
  height: 500px;
  display: grid;
  gap: 0 23px;
  grid-template-columns: 81px 356px 142px;
  // I need the actual values here
}

.Cell {
  align-items: center;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.AddImage {
  background-color: blanchedalmond;
  border-radius: 5px;
  height: 46px;
  text-align: center;
  width: 100%;
}
